<%- include("partials/header"); -%>

<h1>Success</h1>

<div class="padding">
<h4 class="center">You have signed up for the current news letter on Web-Synergy</h4>
<div id="image">

</div>
</div>


<%- include("partials/footer"); -%>